<section class="container">
  <app-turret routerLink="/info/1"></app-turret>
  <app-turret routerLink="/info/2"></app-turret>
  <app-turret routerLink="/info/3"></app-turret>
  <app-turret routerLink="/info/4"></app-turret>
  <app-turret routerLink="/info/5"></app-turret>
  <app-turret routerLink="/info/6"></app-turret>
  <app-turret routerLink="/info/7"></app-turret>
  <app-turret routerLink="/info/8"></app-turret>
  <app-turret routerLink="/info/9"></app-turret>
  <app-turret routerLink="/info/10"></app-turret>
  <app-turret routerLink="/info/11"></app-turret>
  <app-turret routerLink="/info/12"></app-turret>
  <app-turret routerLink="/info/13"></app-turret>
  <app-turret routerLink="/info/14"></app-turret>
  <app-turret routerLink="/info/15"></app-turret>
  <app-turret routerLink="/info/16"></app-turret>
  <app-laser-cannon class="laser-cannon"></app-laser-cannon>
</section>
